@font-face {
    font-family: custom-font;
    src: url(../res/TerminessNerdFont-Regular.ttf);
    font-variant: normal;
}

@font-face {
    font-family: custom-font;
    src: url(../res/TerminessNerdFont-Bold.ttf);
    font-variant: bold;
}

span.icon {
    /*margin: 30px;*/
    font-size: 2.5em;
    font-style: normal;
    display: inline;
    font-weight: 0;
    font-variant: normal;
}

a.icon:hover {
    color: #00c2c2;
    transition: 0.4s;
}

a.icon {
    color: #008484;
    margin-top: 0;
    display: inline-block;
    text-decoration: none;
    min-width: 50px;
    width: 100px;
    transition: 0.4s;
}

a:visited {
    text-decoration: none;
}

a:hover.lnk {
    background-color: #00e1ff;
    color: #001313;
    transition: 0.4s;
}

a.lnk {
    text-decoration: none;
    color: inherit;
    color: #00e1ff;
    font-variant: bold;
    font-weight: bold;
    transition: 0.2s;
} 
a.lnk.inactive {
    color: #007d8d;
}
a.lnk.inactive:hover {
    background-color: #007d8d;
    color: #000000;
}

.highlighted {
    color:aqua;
}

ul {
    color: #00cdcd;
}

.center {
    text-align: center;
}

.head {
    margin-top: 8vh;
}

h1 {
    color: #00ffff;
    margin-bottom: 10px;
}

h2 {
    color: #00cdcd;
    font-weight: bold;
    -webkit-animation: flickerAnimation 2.2s infinite;
    -moz-animation: flickerAnimation 2.2s infinite;
    -o-animation: flickerAnimation 2.2s infinite;
    animation: flickerAnimation 2.2s infinite;
}

h3 {
    color: #00a1a1;
    font-weight: bold;
    margin-left: 1%;
    -webkit-animation: flickerAnimation 2.5s infinite;
    -moz-animation: flickerAnimation 2.5s infinite;
    -o-animation: flickerAnimation 2.5s infinite;
    animation: flickerAnimation 2.5s infinite;
}

h4 {
    color: #008989;
    font-weight: bold;
    margin-left: 1%;
    -webkit-animation: flickerAnimation 5s infinite;
    -moz-animation: flickerAnimation 5s infinite;
    -o-animation: flickerAnimation 5s infinite;
    animation: flickerAnimation 5s infinite;
}

h5 {
    color: #006464;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-animation: flickerAnimation 2.8s infinite;
    -moz-animation: flickerAnimation 2.8s infinite;
    -o-animation: flickerAnimation 2.8s infinite;
    animation: flickerAnimation 2.8s infinite;
}

img.artwork {
    display: inline-block;
    width: 30vw;
    transition: 0.5s;
}

img.artwork:hover, .artwork:focus {
    transition: 0.5s;
    position: relative;
    z-index: 8;
    transform: scale(1.65);
}

.bar {
    display:inline-block;
    height: 0px;
    width: 100%;
    border: solid #006464 1px;

}
.progress {
    display: block;
    height: 0px;
    border: solid #00ffff 1px;
}

.section {
    margin-top: 5vh;
    margin-left: 9%;
}
.subsection {
    margin-bottom: 1vh;
    margin-left: 1%;
    color: #00a1a1;
}

.audioplayer {
    color: #00cdcd;
    text-align: center;
    margin-left: 2%;
    padding: 10px;
    padding-bottom: 13px;
    margin-right: 11%;
    border: solid #00aeae 1px;
}

.news .text {
    margin-left: 2%;
}

.text {
    display: block;
    color: #009a9a;
    text-align: justify;
    margin-left: 1%;
    margin-right: 10%;
}

body {
    font-size: 1.2em;
    font-variant: normal;
    font-family: 'custom-font';
    background-color: #001313;
    background-image: url(../res/graphy-dark.png);
}

.footer {
    font-size: small;
    color: #00a1a1;
}

.progress-js {
    margin-top: 0px;
    margin-bottom: -4px;
    margin-left: 1%;
    width: 40%;
}
.time-js {
    margin-left: 2%;
}

.time-left-js {
    margin-left: 2%;
}

.mobile {
    display: none;
}

.control-js {
    margin-right: 0.5%; margin-left: 0; cursor: pointer;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    89% {
        opacity: 1;
    }

    90% {
        opacity: 0.5;
    }

    91% {
        opacity: 1;
    }

    98% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    89% {
        opacity: 1;
    }

    90% {
        opacity: 0.5;
    }

    91% {
        opacity: 1;
    }

    98% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    89% {
        opacity: 1;
    }

    90% {
        opacity: 0.5;
    }

    91% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    89% {
        opacity: 1;
    }

    90% {
        opacity: 0.5;
    }

    91% {
        opacity: 1;
    }

    98% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 857px) {
    .mobile{
        display: inline-block;
    }
    .progress-js {
        width: 95%;
    }
    .audioplayer {
        text-align: center;
    }
    .control-js {
        margin-right: 65%; margin-left: 0; cursor: pointer;
    }
}

@media screen and (max-width: 670px) {
    a.icon {
        width: 70px;
    }
    .artwork{
        width:10vw;
        width:auto;
    }
    .information {
        word-wrap: break-word;
    }
    .mobile{
        display: inline-block;
    }
    .progress-js {
        width: 95%;
    }
    .audioplayer {
        text-align: center;
    }
    .control-js {
        margin-right: 10%; margin-left: 0; cursor: pointer;
    }
}
